.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 105px;

	&__logo {
		display: flex;
		align-items: center;
	}

	&__img {
		max-width: 37px;
		margin-right: 14px;
	}

	&__brand {
		color: $primary-color;
		font-size: 35px;
		font-weight: 800;
	}

	&__links {
		list-style: none;
		display: flex;
		align-items: center;
		margin-top: 9px;
		margin-bottom: 0px;
	}

	&__link {
		text-decoration: none;
		color: $text-color;
		font-size: 25px;
		font-weight: 400;

		&::before {
			display: block;
			content: attr(title);
			font-weight: bold;
			height: 0px;
			overflow: hidden;
			visibility: hidden;
		}

		&:after {
			content: '';
			display: block;
			width: 0;
			border-bottom: 4px solid $link-color;
			margin: 3px auto 0;
			transition: all linear 200ms;
		}

		&:hover:after {
			font-size: large;
			color: $primary-color;
			width: 100%;
		}

		&:hover {
			color: $primary-color;
			font-weight: bold;
			letter-spacing: 0px;
		}
	}

	li {
		font-size: 0px;
	}

	li + li {
		margin-left: 85px;
	}
}
