.mission {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 120px;

	&__img {
		max-width: 642px;
		margin-right: 142px;
	}

	&__content {
		margin-top: -230px;
		max-width: 708px;
	}

	&__title {
		color: $header-color;
		font-size: 40px;
		font-weight: bold;
		line-height: 55px;
		margin-bottom: 50px;
		max-width: 487px;
	}

	&__text {
		color: $text-mission;
		font-size: 30px;
		font-weight: 500;
		line-height: 40px;
	}
}
