.testimonial {
	&__title {
		text-align: center;
		color: $header-color;
		font-size: 70px;
		font-weight: 800;
		margin-bottom: 22px;
	}

	&__cards {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 62px;

		.card {
			max-width: 300px;

			& + .card {
				margin-left: 60px;
			}
		}
	}

	&__info {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 240px;

		&-img {
			max-width: 615px;
		}
	}

	&__content {
		max-width: 997px;
		max-height: 700px;
		padding: 51px 107px 119px 135px;
		background-color: $background-how;
		background-image: url('/img/quote-img.svg');
		background-repeat: no-repeat;
		background-position: 11% 51.5%;

		&__indicators {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 122px;

			&__item {
				max-width: 300px;

				&-title {
					color: $primary-color;
					font-size: 70px;
					font-weight: 800;
				}

				&-text {
					color: $primary-color;
					font-size: 30px;
					font-weight: 600;
				}

				& + & {
					margin-left: 100px;
				}
			}
		}

		&__text {
			color: $text-mission;
			font-size: 25px;
			font-weight: 500;
			margin-bottom: 60px;
		}

		&__roscoe {
			color: $primary-color;
			font-size: 25px;
			font-weight: 500;
			font-style: italic;
		}

		&__quote-img {
			position: absolute;
			top: 4828px;
			left: 48.5%;
			transform: translateX(-50%);
		}
	}
}
