.mybtn {
	background-color: $primary-color;
	border: 1px solid $primary-color;
	border-radius: 15px;
	color: $white-color;
	padding: 21px 80px;
	cursor: pointer;
	transition: all linear 200ms;
	font-size: 25px;
	font-weight: 500;

	&:hover {
		background-color: transparent;
		color: $primary-color;
	}

	&__shape_onecorner {
		font-weight: bold;
		border-radius: 20px;
		border-bottom-left-radius: 0px;
	}
}

.btn-play {
	border: none;
	padding: 0px;
	background: none;
	background-image: url('/img/how_btn.svg');
	cursor: pointer;
	position: absolute;
	top: 488px;
	left: 66.6%;
	transform: translateX(-50%);
	transition: background linear 200ms;
	width: 130px;
	height: 130px;
	background-position: center;
	background-repeat: no-repeat;

	&:hover {
		background-image: url('/img//how_img_halo.svg');
	}
}

.button-top {
	border-radius: 50%;
	color: $white-color;
	padding: 15px;
	background-color: $primary-color;
	border: none;
	display: none;
	position: fixed;
	right: 60px;
	bottom: 80px;
	width: 80px;
	height: 80px;
}
